#section-title {
  font-size: 1.3em;
  letter-spacing: 2px;
  padding-top: 10px;
}

p {
  font-weight: 100;
}

img {
  border-radius: 7px;
}

.user-container {
  text-align: center;
  font-size: 1.1em;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-left: 30px;
  background-color:#49516F;
  color: #E8EBE4;
  border-radius: 20px;
}
