#section-title {
  font-size: 1.3em;
  letter-spacing: 2px;
  padding-top: 10px;
}

.follow-container {
  text-align: center;
  font-weight: 100;
  font-size: 1.1em;
  margin-top: 30px;
  padding-bottom: 10px;
  margin-left: 30px;
  background-color:#49516F;
  color: #E8EBE4;
  border-radius: 20px;
}

.follow-url {
  color: #E8EBE4;
}

.follow-url:hover {
    color: #70877F;
    text-decoration: none;
    font-weight: bold;
}
