.user-error-message {
  text-align:center;
  font-size: 50px;
  font-weight: lighter;
  color: #49516F;
  width: 500px;
  height: 200px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}