html, body {
  height: 100%
}

body {
  background-color: #E8EBE4;
  font-family: 'Lato', sans-serif;
}

.loading {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #70877F;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}