.work-container {
    text-align: center;
    margin-right: 30px;
    font-weight: 100;
    border-radius: 20px;
    margin-top: 30px;
}

.work {
  margin-bottom: 10px;
  background-color: #7D869C;
  border-radius: 7px;
  color: #E8EBE4;
  padding: 5px;
}

h2 {
  color: #70877F;
}