.landing-page-title {
  font-size: 73px;
  font-weight: lighter;
  color: #49516F;
}

.search-form {
  text-align:center;
  width: 500px;
  height: 200px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

input {
  width: 100%;
  text-align: center;
  font-weight: lighter;
}

button {
  font-weight: lighter;
}