.projects-container {
  height: 50%;
  text-align: center;
  font-weight: 100;
  border-radius: 20px;
  margin-top: 30px;
}

.project-url {
  color: black;
  font-size: 1.1em;
}

.project-url:hover {
  color: #70877F;
  text-decoration: none;
  font-weight: bold;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h2 {
  color: #70877F;
}